<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Duplicate_File_Finder.Properties.Settings.DuplicateFilesConnectionString"
            connectionString="Data Source=laptop-890r5gsd\sqlexpress;Initial Catalog=DuplicateFiles;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>